In [1]:
#List Comprehension
from collections import deque
r1 = [1,2,3,4,5]
r2 = []
r3 = []
for x in r1:
    r2.append(x*2)

[r3.append(x*2) for x in r1]
r2 == r3

True

In [8]:
import numpy as np
num = np.arange(1,11,1)
even = []
# for i in num:
#     if i % 2 == 0:
#         even.append(i)
even = [i for i in num if i % 2 == 0]
even

[2, 4, 6, 8, 10]

In [14]:
num = np.arange(1,10,1)
mul = [[f'{i}*{j} = {i*j}'for j in num] for i in num ]
print(mul)

[['1*1 = 1', '1*2 = 2', '1*3 = 3', '1*4 = 4', '1*5 = 5', '1*6 = 6', '1*7 = 7', '1*8 = 8', '1*9 = 9'], ['2*1 = 2', '2*2 = 4', '2*3 = 6', '2*4 = 8', '2*5 = 10', '2*6 = 12', '2*7 = 14', '2*8 = 16', '2*9 = 18'], ['3*1 = 3', '3*2 = 6', '3*3 = 9', '3*4 = 12', '3*5 = 15', '3*6 = 18', '3*7 = 21', '3*8 = 24', '3*9 = 27'], ['4*1 = 4', '4*2 = 8', '4*3 = 12', '4*4 = 16', '4*5 = 20', '4*6 = 24', '4*7 = 28', '4*8 = 32', '4*9 = 36'], ['5*1 = 5', '5*2 = 10', '5*3 = 15', '5*4 = 20', '5*5 = 25', '5*6 = 30', '5*7 = 35', '5*8 = 40', '5*9 = 45'], ['6*1 = 6', '6*2 = 12', '6*3 = 18', '6*4 = 24', '6*5 = 30', '6*6 = 36', '6*7 = 42', '6*8 = 48', '6*9 = 54'], ['7*1 = 7', '7*2 = 14', '7*3 = 21', '7*4 = 28', '7*5 = 35', '7*6 = 42', '7*7 = 49', '7*8 = 56', '7*9 = 63'], ['8*1 = 8', '8*2 = 16', '8*3 = 24', '8*4 = 32', '8*5 = 40', '8*6 = 48', '8*7 = 56', '8*8 = 64', '8*9 = 72'], ['9*1 = 9', '9*2 = 18', '9*3 = 27', '9*4 = 36', '9*5 = 45', '9*6 = 54', '9*7 = 63', '9*8 = 72', '9*9 = 81']]

In [37]:
tupple = 1,2,3,4,5
print("%.d is one %  is two %  is three %  is four %  is five" % tupple)

1 is one  2s two  3s three  4s four  5s five

In [131]:
def Build_menu(num):
    """Please input the number items you will sell then following processes will begin soon.
    Don't worry about the difficulty it has very straightforward and intuitive processes"""
    import pandas as pd
    menu = [[],[]] #0th row is menu, and 1th is price
    for i in range(num):
        product = input("Input item you will sell ")
        price = int(input(f"Input price of '{product}' ")) #prices are int
        menu[0].append(product)
        menu[1].append(price)
    menu[1].sort() #Sorting by the given prices
    ask = input('You want to add more menu? [y]/n')
    if ask == 'y':
        ask_num = int(input('How many items you want to add more? '))
        added_menu = Build_menu(ask_num)
        print('Added menu is', added_menu)
        menu[0].extend(added_menu[0])
        menu[1].extend(added_menu[1])
        menu[1].sort() #Sorting by the given prices
        return menu
    else:
        return menu

import pandas as pd
"""For better looking I chose pandas dataframe"""
trial = int(input("Input how many items that you will sell"))
my_menu = Build_menu(trial)
pd.DataFrame({'Items': my_menu[0], 'Prices': my_menu[1]})

ValueError: invalid literal for int() with base 10: ''

In [1]:
cd HW

/Users/seunghwankim/PycharmProjects/Python_Project/Programming/HW

In [137]:
%run Menu_2018550031.py

Currently added Menu is  [['maki', 'ame'], [3000, 1000]]
Currently added Menu is  [['latte', 'ame_small'], [2000, 500]]

       Items  Prices
0  ame_small     500
1        ame    1000
2      latte    2000
3       maki    3000

In [128]:
a = [1,2,3,4]
b = ['d','c','b','a']
c = [a,b]
c[1].sort()
c

[[1, 2, 3, 4], ['a', 'b', 'c', 'd']]

In [140]:
a = [1,2,3]
b = [3,4,5]
list(zip(a,b))

[(1, 3), (2, 4), (3, 5)]

In [41]:
def sort_menu(menu):
    """I found a problem in sorting list matrix cuz there is no key in list.
    So I decided to make a dictionary for sorting."""
    menu_mapping = {}
    for i in range(len(menu[0])):
        menu_mapping[menu[1][i]] = menu[0][i]  # I make prices keys cuz it will be sorted by prices
    sorted_menu = sorted(menu_mapping.items())  # sort menu by price which is key in the dictionary
    menu_item = []
    menu_price = []
    for i, j in sorted_menu:
        menu_price.append(i)
        menu_item.append(j)
    menu = [menu_item, menu_price]
    return menu

def edit_menu(menu):
    """I think editing menu is as much important as building menu"""
    import pandas as pd
    print('Current menu is following')
    display(menu)
    ask = int(input('Which row do you want to change 0 to n (n is integer)'))
    item = menu.Items[ask]
    ask_item = input(f'Change the name of {item}')
    ask_price = input(f'Change the price of {ask_item}')
    menu.iloc[ask] = {'Items': ask_item, 'Prices': ask_price}
    print('Your menu is updated')
    return menu

def Build_menu(num):
    """Please input the number items you will sell then following processes will begin soon.
    Don't worry about the difficulty it has very straightforward and intuitive processes"""
    menu = [[], []]  # 0th row is menu, and 1th is price
    for i in range(num):
        product = input("Input item you will sell ")
        price = int(input(f"Input price of '{product}' "))  # prices are int
        menu[0].append(product)
        menu[1].append(price)
    print('Currently added Menu is ', menu)
    ask = input('You want to add more menu? [y]/n ')
    if ask.lower() == 'y':
        ask_num = int(input('How many items you want to add more? '))
        added_menu = Build_menu(ask_num)
        menu[0].extend(added_menu[0])
        menu[1].extend(added_menu[1])
        return menu
    elif ask.lower() == 'n':
        return menu

import pandas as pd
"""For better looking I chose pandas dataframe
Surely if I use a built-function in pandas i can easily sort the data
 but I believe that is not your purpose of this assignment so I took the detour (dictionary)"""
trial = int(input("Input how many items that you will sell "))
my_menu = Build_menu(trial)
my_menu = sort_menu(my_menu)
my_menu = pd.DataFrame({'Items': my_menu[0], 'Prices': my_menu[1]})
display(my_menu)
print("*Important: if you want to eidt or update your menu please call 'edit_menu'")

Currently added Menu is  [['ame', 'maki', 'late'], [1000, 3000, 2000]]

  Items  Prices
0   ame    1000
1  late    2000
2  maki    3000

*Important: if you want to eidt or update your menu please call 'edit_menu'

In [44]:
edit_menu(my_menu)

Current menu is following

       Items Prices
0  americano   1000
1       late   2000
2       maki   3000

Your menu is updated

       Items Prices
0  americano   1000
1      Latte   2000
2       maki   3000