행이름, null 값 여부 확인

In [2]:
import pandas as pd
df_air = pd.read_csv('Measurement_summary.csv')
df_air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647511 entries, 0 to 647510
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Measurement date  647511 non-null  object
 1   Station code      647511 non-null  int64
 2   Address           647511 non-null  object
 3   Latitude          647511 non-null  float64
 4   Longitude         647511 non-null  float64
 5   SO2               647511 non-null  float64
 6   NO2               647511 non-null  float64
 7   O3                647511 non-null  float64
 8   CO                647511 non-null  float64
 9   PM10              647511 non-null  float64
 10  PM2.5             647511 non-null  float64
dtypes: float64(8), int64(1), object(2)
memory usage: 54.3+ MB

내가 원하는 이름으로 행 이름을 바꾸고, 기존 행 이름 삭제

In [3]:
import pandas as pd
columns = ['Date', 'Station_Code', 'Location', 'Lat', 'Lon','SO2', 'NO2', 'O3', 'CO', 'PM10', 'PM2_5']
df_air = pd.read_csv('Measurement_summary.csv',
                     names = columns, skiprows = 1, header = None)
df_air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647511 entries, 0 to 647510
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Date          647511 non-null  object
 1   Station_Code  647511 non-null  int64
 2   Location      647511 non-null  object
 3   Lat           647511 non-null  float64
 4   Lon           647511 non-null  float64
 5   SO2           647511 non-null  float64
 6   NO2           647511 non-null  float64
 7   O3            647511 non-null  float64
 8   CO            647511 non-null  float64
 9   PM10          647511 non-null  float64
 10  PM2_5         647511 non-null  float64
dtypes: float64(8), int64(1), object(2)
memory usage: 54.3+ MB

Location 행에서 오직 지역구 이름만 추출
큰 차이는 없지만 빠른 계산을 위해 collection.deque 사용

In [4]:
#df_air.Location
from collections import deque
Location_city = deque()
for x in df_air.Location:
    x = x.split(',')[2]
    x = x.strip()
    Location_city.append(x)
df_air['Location_City'] = Location_city

In [9]:
df_air = df_air.groupby(['Location_City', 'Date'])['Location_City', 'Date','SO2','NO2', 'O3', 'CO'].filter(lambda x: True)

/var/folders/l9/glqlxsms6kg26pc8n2s189hw0000gn/T/ipykernel_7786/2595903031.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_air.groupby(['Location_City', 'Date'])['Location_City', 'Date','SO2','NO2', 'O3', 'CO'].filter(lambda x: True)

       Location_City              Date    SO2    NO2     O3   CO
0          Jongno-gu  2017-01-01 00:00  0.004  0.059  0.002  1.2
1          Jongno-gu  2017-01-01 01:00  0.004  0.058  0.002  1.2
2          Jongno-gu  2017-01-01 02:00  0.004  0.056  0.002  1.2
3          Jongno-gu  2017-01-01 03:00  0.004  0.056  0.002  1.2
4          Jongno-gu  2017-01-01 04:00  0.003  0.051  0.002  1.2
...              ...               ...    ...    ...    ...  ...
647506   Gangdong-gu  2019-12-31 19:00  0.003  0.028  0.013  0.5
647507   Gangdong-gu  2019-12-31 20:00  0.003  0.025  0.015  0.4
647508   Gangdong-gu  2019-12-31 21:00  0.003  0.023  0.015  0.4
647509   Gangdong-gu  2019-12-31 22:00  0.003  0.040  0.004  0.5
647510   Gangdong-gu  2019-12-31 23:00  0.003  0.037  0.005  0.5

[647511 rows x 6 columns]